@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;700&family=Poppins&family=Roboto:wght@700&display=swap");

html,
body {
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  width: 100vw;
  font-size: 14px;
}

nav {
  background-color: #3c3a39;
  color: #fff;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1.7rem;
}

nav > .logo {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

nav > .nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  align-items: center;
  gap: 2rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.05rem;
  cursor: pointer;
}

nav > .nav-items > li:last-child {
  font-size: 1.5rem;
}

nav > .menu {
  font-size: 1.5rem;
}

#headline,
#about-me {
  background-color: #1c1a19;
  padding: 10rem 1.7rem;
  position: relative;
  background-image: url(./assets/images/headline-section-illustration.png);
  background-repeat: no-repeat;
  background-position: 55vw 28rem;
  background-size: auto 30rem;
}

#about-me {
  background-image: url(./assets/images/about-me-section-illustration.png);
  background-position: 60vw 27rem;
  background-size: auto 20rem;
}

#headline > .big-intro,
#about-me > .big-intro {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.57rem;
  margin: 0.8rem 0;
}

#headline > .small-intro {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.3rem;
  margin: 0.8rem 0;
}

#headline > .about-me,
#about-me > .about-me {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.07rem;
  line-height: 2.3rem;
  margin: 0.8rem 0;
}

#headline > .social-accounts {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.8rem 0;
  margin-top: 2rem;
}

footer > ul > li > i {
  font-size: 1.5rem;
  color: #505f79;
}

#headline > .social-accounts > li > a > i {
  color: #fff;
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
}

#works {
  background-color: white;
  padding: 4rem 1.7rem;
}

#contact-form > h2 {
  font-family: "Inter", sans-serif;
  font-size: 2.3rem;
  line-height: 3.14rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
}

#works > .title {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
}

#works > .title > h2 {
  font-family: "Crete Round", serif;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.7rem;
  text-align: left;
}

#about-me > .line {
  width: 100%;
  margin-top: 15rem;
  height: 1px;
  background: #fff;
}

#works > .title > .line {
  width: 100%;
  height: 1px;
  background: #212121;
}

#works > .sample-work {
  display: flex;
  flex-direction: column;
  margin: 5rem 0 0 0;
}

#works > .sample-work > div {
  width: 100%;
}

#works > .sample-work > div > img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

#works > .sample-work > .work-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#works > .sample-work > div > h3,
#works > .works-grid > .work-item > .work-item-content > h3 {
  margin: 2rem 0;
  font-family: "Crete Round", serif;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 0;
  text-align: left;
}

#works > .sample-work > div > p,
#works > .works-grid > .work-item > .work-item-content > p {
  margin: 0.8rem 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

/* #works > .sample-work > div > .tags, */

/* #works > .works-grid > .work-item > .work-item-content > .tags {
  list-style: none;
  margin: 1.5rem 0 0.8rem 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
} */

#works > .sample-work > div > .tags,
#works > .works-grid > .work-item > .work-item-content > .tags {
  list-style: none;
  margin: 1.5rem 0 0.8rem 0;
  padding: 0;
}

#works > .sample-work > div > .tags > .tag-item {
  float: left;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  border: 1px solid #091e42;
  padding: 0.7rem 0.8rem;
}

#about-me > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.85rem;
  border: none;
  background: #ff6b00;
  height: 3.4rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: white;
}

#contact-form > form > ul > li > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.85rem;
  border: none;
  background: #ff6b00;
  height: 3.4rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: white;
}

#about-me > button:hover {
  background: #cc5602;
  cursor: pointer;
}

#works > .sample-work > div > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.85rem;
  border: none;
  background: #ff6b00;
  height: 3.4rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: white;
}

#contact-form > form > ul > li > button:hover {
  background: #cc5602;
  cursor: pointer;
}

#works > .works-grid > .work-item > button {
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6b00;
  border: none;
  width: 100%;
  padding: 0.85rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: white;
}

#works > .sample-work > div > button:hover {
  background: #cc5602;
  cursor: pointer;
}

#works > .works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 5rem;
  margin-top: 5rem;
  color: #091e42;
}

#works > .works-grid > .first {
  display: none;
}

#works > .works-grid > .work-item {
  background-color: #f5f5f5;
  background-image: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url("./assets/images/work-img-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#works > .works-grid > .work-item > .work-item-content {
  color: white;
  padding: 5rem 1.3rem 1rem 1.3rem;
}

#works > .works-grid > .work-item > .work-item-content > .tags > .tag-item {
  float: left;
  margin-right: 0.5rem;
  margin-bottom: 1.5rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.24);
  padding: 0.7rem 0.8rem;
}

#works > .works-grid > .work-item > button:hover {
  background-color: #cc5602;
  cursor: pointer;
}

#about-me > .language-skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 5rem;
  margin: 0;
  padding: 0;
  margin-top: 5rem;
  color: #fff;
  list-style: none;
}

#about-me > .language-skills-grid > .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#about-me > .language-skills-grid > .item > div {
  display: flex;
  align-items: center;
}

#about-me > .language-skills-grid > .item > div > .language {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ff6b00;
  transform: rotate(-45deg);
}

#about-me > .language-skills-grid > .item > div > .frameworks {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ff6b00;
}

#about-me > .language-skills-grid > .item > div > .skills {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ff6b00;
  border-radius: 50%;
}

#about-me > .language-skills-grid > .item > div > h5 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 3rem 1.5rem;
  padding: 0;
}

footer > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

#contact-form > form > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#about-me > .language-skills-grid > .item > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#contact-form > form > ul > li {
  display: flex;
  justify-content: center;
}

#contact-form > form > ul li + li {
  margin-top: 2rem;
}

#about-me > .language-skills-grid > .item > ul > li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

#contact-form {
  padding: 7rem 1.7rem;
}

#contact-form > form {
  padding: 4rem 0 0 0;
}

#contact-form > form > ul > li > label {
  display: none;
}

#contact-form > form > ul > li > input,
#contact-form > form > ul > li > textarea {
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #ccc;
}

#contact-form > form > ul > li > textarea {
  border: none;
  background-color: #f5f5f5;
}

#contact-form > form > ul > li > input:focus,
#contact-form > form > ul > li > textarea:focus {
  border: 1px solid #aaa;
}

footer {
  border-top: 1px solid #dfe1e6;
  padding: 1.2rem 1.7rem;
}

/* For tablets and desktops */
@media (min-width: 768px) {
  nav {
    padding: 0.3rem 12rem;
  }

  nav > .nav-items {
    display: flex;
  }

  nav > .menu {
    display: none;
  }

  #headline {
    padding: 12rem;
    background-position: center right;
    background-size: auto 45rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #about-me {
    padding: 12rem;
    background-image: url("./assets/images/about-me-section-desktop-illustration.png");
    background-position: right 8rem;
    background-size: auto 22rem;
  }

  #headline > .big-intro > span {
    display: block;
  }

  #headline > .small-intro,
  #headline > .about-me {
    max-width: 42rem;
  }

  #headline > .social-accounts {
    position: absolute;
    left: 2rem;
    flex-direction: column;
  }

  #works {
    padding: 4rem 12rem;
  }

  #works > .title {
    flex-direction: row;
    align-items: center;
  }

  #contact-form > h2 {
    width: 75%;
    text-align: left;
  }

  #works > .title > h2 {
    width: 100%;
  }

  #works > .sample-work {
    flex-direction: row;
    gap: 3rem;
  }

  #works > .works-grid {
    grid-gap: 2rem;
  }

  #works > .works-grid > .first {
    background-image: url("./assets/images/work-img-2.png");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #works > .works-grid > .work-item > .work-item-content {
    padding: 8rem 1.3rem 1rem 1.3rem;
  }

  #about-me > button {
    margin-top: 3rem;
  }

  #works > .works-grid > .work-item > button {
    display: none;
  }

  #works > .works-grid > .first > button {
    display: block;
  }

  #about-me > .about-me {
    width: 42rem;
  }

  #about-me > .language-skills-grid {
    grid-gap: 9rem;
  }

  #about-me > .language-skills-grid > .item {
    align-items: flex-start;
    text-align: left;
  }

  #contact-form {
    padding: 7rem 12rem;
    display: flex;
    align-items: flex-start;
    gap: 5rem;
  }

  #contact-form > form {
    padding: 2rem 0 0 0;
    width: 100%;
  }

  #contact-form > form > ul > li {
    justify-content: flex-start;
  }
}
